<form method='post'>
        
        
                <p>
                <label for="id_first_name">First name:</label> 
                <input id="id_first_name" maxlength="100" name="first_name" type="text">
            </p>
            <p>
                <label for="id_last_name">Last name:</label>
                <input id="id_last_name" maxlength="100" name="last_name" type="text">
            </p>
            <p>
                <label for="id_username">Username:</label> 
                <input id="id_username" maxlength="100" name="username" type="text">
            </p>
            <p>
                <label for="id_email">Email:</label> 
                <input id="id_email" maxlength="254" name="email" type="email">
            </p>
            <p>
                <label for="id_date_of_birth">Date of birth:</label>
                <input id="id_date_of_birth" name="date_of_birth" type="text">
            </p>
            <p>
                <label for="id_gender">Gender:</label>
                <select id="id_gender" name="gender">
                    <option value="M" selected="selected">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Others</option>
                </select>
            </p>
            <p>
                <label for="id_password">Password:</label> 
                <input id="id_password" maxlength="100" name="password" type="text">
            </p>
               <!--{{ form.as_p }}-->
            <input type="submit" value="Submit"/>
        </form>